services:
  db:
    image: postgres:15-alpine # Sử dụng bản alpine cho nhẹ máy EC2
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    deploy:
      resources:
        limits:
          memory: 512M # Giới hạn để không làm treo EC2 t2.micro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    image: tuannghia2905/e_commerce_backend:staging
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    # Tự động migrate database khi container start để tránh lỗi thiếu bảng
    command: >
      sh -c "bundle exec rails db:migrate && 
             bundle exec puma -C config/puma.rb"
    logging:
      driver: "json-file"
      options:
        max-size: "10mb"
        max-file: "3"

volumes:
  db_data:
